<% include partials/header %>
<h1 align = "center"> All Users </h1>

<!--rendered data-->
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr align = "center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
            </tr>
        </head>
        <tbody>
            <% for(var i = 0; i < users.length; i++){ %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><a href = "/users/<%= users[i].id %>"><%= users[i].name %></a></td>
                  <td><%= users[i].email %></td>
                  <td><%= users[i].created_at %></td>
                  <td valign="top" align="center">
                        <form class="delete-form" action="/users/<%= users[i].id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        
                  </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>